{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<!-- list instead of grid -->
<ol class="publications" reversed="">
        <li class="publication">
            <span class="title">
                The RAD: Making Racing Games Equivalently Accessible to People Who Are Blind
            </span>
            <span class="authors">
                <a href="index.html">Brian A. Smith</a>,&nbsp;&nbsp;
                <a href="http://www.cs.columbia.edu/~nayar/" target="_blank">Shree K. Nayar</a>
            </span>
            <span class="venue">
                <a href="https://chi2018.acm.org/" target="_blank">Proceedings of CHI 2018</a><small>[Acceptance Rate: 25.7%]</small>
            </span>
            <span class="pdf_link">
                <a href="publications/rad.html" target="_blank"><img src="img/icons/pdf.png" alt="PDF"><span>Get&nbsp;PDF</span></a>
            </span>
            <span class="project_link">
            	<a href="projects/rad.html"><img src="img/icons/research_small.png" alt="PDF"><span>Project&nbsp;Page</span></a>
            </span>
            <span class="dl_link">
            	<a href="https://dl.acm.org/citation.cfm?id=3174090" target="_blank"><img src="img/icons/acm.png" alt="ACM Logo"><span>ACM&nbsp;DL&nbsp;Page</span></a>
            </span>
        </li>
        <li class="publication">
            <span class="title">
                Mining Controller Inputs to Understand Gameplay
            </span>
            <span class="authors">
                <a href="index.html">Brian A. Smith</a>,&nbsp;&nbsp;
                <a href="http://www.cs.columbia.edu/~nayar/" target="_blank">Shree K. Nayar</a>
            </span>
            <span class="venue">
                <a href="https://uist.acm.org/uist2016/" target="_blank">Proceedings of UIST 2016</a><small>[Acceptance Rate: 20.6%]</small>
            </span>
            <span class="pdf_link">
                <a href="publications/mining_controller_inputs.html" target="_blank"><img src="img/icons/pdf.png" alt="PDF"><span>Get&nbsp;PDF</span></a>
            </span>
            <span class="project_link">
            	<a href="projects/mining_controller_inputs.html"><img src="img/icons/research_small.png" alt="PDF"><span>Project&nbsp;Page</span></a>
            </span>
            <span class="dl_link">
            	<a href="http://dl.acm.org/citation.cfm?id=2984543" target="_blank"><img src="img/icons/acm.png" alt="ACM Logo"><span>ACM&nbsp;DL&nbsp;Page</span></a>
            </span>
        </li>
        <li class="publication">
            <span class="title">
                Optimizing Touchscreen Keyboards for Gesture Typing
            </span>
            <span class="authors">
                <a href="index.html">Brian A. Smith</a>,&nbsp;&nbsp;
                <a href="http://www.xiaojunbi.com/" target="_blank">Xiaojun Bi</a>,&nbsp;&nbsp;
                <a href="http://www.shuminzhai.com/" target="_blank">Shumin Zhai</a>
            </span>
            <span class="venue">
                <!--To Appear:&nbsp;&nbsp;--><a href="http://chi2015.acm.org" target="_blank">Proceedings of CHI 2015</a><small>[Acceptance Rate: 23%]</small>
            </span>
            <span class="pdf_link">
                <a href="publications/optimizing_keyboards.html" target="_blank"><img src="img/icons/pdf.png" alt="PDF"><span>Get&nbsp;PDF</span></a>
            </span>
            <span class="project_link">
            	<a href="projects/optimizing_keyboards.html"><img src="img/icons/research_small.png" alt="PDF"><span>Project&nbsp;Page</span></a>
            </span>
            <span class="dl_link">
            	<a href="http://dl.acm.org/citation.cfm?id=2702123.2702357" target="_blank"><img src="img/icons/acm.png" alt="ACM Logo"><span>ACM&nbsp;DL&nbsp;Page</span></a>
            </span>
        </li>
        <li class="publication">
            <span class="title">
                Gaze Locking: Passive Eye Contact Detection for Human–Object Interaction
            </span>
            <span class="authors">
                <a href="index.html">Brian A. Smith</a>,&nbsp;&nbsp;Qi Yin,&nbsp;&nbsp;
                <a href="http://www.cs.columbia.edu/~feiner/" target="_blank">Steven K. Feiner</a>,&nbsp;&nbsp;
                <a href="http://www.cs.columbia.edu/~nayar/" target="_blank">Shree K. Nayar</a>
            </span>
            <span class="venue">
                <!--To Appear:&nbsp;&nbsp;--><a href="http://www.acm.org/uist/uist2013/" target="_blank">Proceedings of UIST 2013</a><small>[Acceptance Rate: 19.6%]</small>
            </span>
            <span class="pdf_link">
            	<a href="publications/gaze_locking.html" target="_blank"><img src="img/icons/pdf.png" alt="PDF"><span>Get&nbsp;PDF</span></a>
            </span>
            <span class="project_link">
            	<a href="projects/gaze_locking.html"><img src="img/icons/research_small.png" alt="PDF"><span>Project&nbsp;Page</span></a>
            </span>
            <span class="dl_link">
            	<a href="http://dl.acm.org/citation.cfm?id=2501988.2501994" target="_blank"><img src="img/icons/acm.png" alt="ACM Logo"><span>ACM&nbsp;DL&nbsp;Page</span></a>
            </span>
      </li>
    </ol>



<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <!-- {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %} -->
    <!-- <div > -->
    <h3 class="archive__item-title" itemprop="">
      {{ post.title }}
    </h3>
    <p class="archive__item-excerpt">
      {{ post.authors | markdownify }} Published in <i>{{ post.venue }}</i>, {{ post.vol_date }}.
    </p>
    <!-- </div> -->
    <!-- <p class="archive__item-excerpt">Published in <i>{{ post.venue }}</i>, {{ post.vol_date }}.</p> -->
    {% if post.paper_link %}
      <a itemprop="headline" href= "{{post.paper_link}}" target="_blank" style="text-decoration: none"><img src="http://gaurav1302.github.io/images/pdf.png" alt="PDF" height="30" width="25">
        <span>Get&nbsp;PDF</span>
      </a>
      &nbsp;
    {% endif %}
    {% if post.code_link %}
      <a href= "{{post.code_link}}" target="_blank" style="text-decoration: none"><img src="http://gaurav1302.github.io/images/code.png" alt="CODE" height="20" width="30">
        <span>Get&nbsp;CODE</span>
      </a>
      &nbsp;
    {% endif %}
    {% if post.ppt %}
      <a href= "{{post.ppt}}" target="_blank" style="text-decoration: none"><img src="http://gaurav1302.github.io/images/ppt.png" alt="PPT" height="40" width="30">
        <span>View&nbsp;Presentation</span>
      </a>
      &nbsp;
    {% endif %}
    {% if post.doi %}
      <a href= "{{post.doi_link}}" target="_blank" style="text-decoration: none"><img src="http://gaurav1302.github.io/images/doi.png" alt="DOI" height="25" width="25">
      <span>{{post.doi}}</span>
      </a>
      &nbsp;
    {% endif %}



    <!-- <img src="img/icons/pdf.png" alt="PDF">  DOI&nbsp;
    <span>Get&nbsp;PDF</span> -->

    <!-- {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %} -->

    <!-- {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %} -->

    <!-- {% if post.citation and post.paperurl %}
      <p>{{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
    {% elsif post.citation %}
      <p>{{ post.citation }} </p>
    {% elsif post.paperurl %}
      <p>Download <a href=" {{ post.paperurl }} "><u>here</u></a></p>
    {% endif %} -->


    <!-- {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop=""><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %} -->

  </article>
</div>
