{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<!-- list instead of grid -->




<div class="{{ include.type | default: "list" }}__item" >
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <ul style="list-style-type: none;">
        <li value="{{post.index}}" >
          <div class="flex-container" style="display: flex; margin-left: -35px;">
            <div class="flex-child" style="flex: 0 150px; margin-right: 10px;">
              <a href="{{post.paper_link}}">
                <img alt="Paper Front Page" src="{{post.cover_img}}" width="500px" height="250px" style="box-shadow: 0px 0px 4px #000000; color: #333;">
             </a>
            </div>
            <div class="flex-child" style="flex: 1 1 200px;">
              <!-- <a class="archive__item-title" itemprop="headline"> -->
                <p style="margin-bottom:5px; margin-top:0px; line-height:1.2"> 
                  <span style="font-weight: 500; text-decoration: none; font-size:13pt; color: #333;">
                    {{ post.title }}
                  </span>
                </p>
                <p style="margin-bottom:5px; margin-top:0px; line-height:1.2"> 
                  <span style="font-weight: 400; margin-bottom:0; margin-top:0px; font-size:12pt; color: #333;">
                    {{ post.authors }}
                  </span>
                </p>
                <p style="margin-bottom:0; margin-top:0px; line-height: 0.9;"> 
                  <span style="font-weight: 400; font-size:10pt; color: #333;">
                    {{ post.venue }}
                  </span>
                </p>
              <!-- </a> -->

              <!-- <p class="archive__item-excerpt">
                <span style="font-weight: 450; margin-bottom:0; margin-top:0px; font-size:10pt; color: #333;">
                  {{ post.authors }}
                </span>
                <br>
                <span style="font-weight: 450; margin-bottom:-20px; margin-top:10px; font-size:10pt; color: #333;">
                  <i>{{ post.venue }}, {{ post.vol_date }}.</i>
                </span>
              </p> -->
              {% if post.paper_link %}
              <a href= "{{post.paper_link}}" target="_blank" style="text-decoration: none; font-size:10pt; margin-top: 0; margin-bottom:0px; color: #333;">
                [<span style="color: #52adc8; text-decoration: none;">
                  PDF
                </span>]
                <!-- <img src="http://gaurav1302.github.io/images/pdf.png" alt="PDF" height="25" width="20">&nbsp;<span>Get&nbsp;PDF</span> -->
              </a>
              <!-- &nbsp; -->
            {% endif %}
            {% if post.doi %}
              <a href= "{{post.doi_link}}" target="_blank" style="text-decoration: none; font-size:10pt; margin-bottom:0px; color: #333;">
                [<span style="color: #52adc8; text-decoration: none;">
                  DOI
                </span>]
                <!-- <img src="http://gaurav1302.github.io/images/doi.png" alt="DOI" height="25" width="25">&nbsp;<span>{{post.doi}}</span> -->
              </a>
              <!-- &nbsp; -->
            {% endif %}
            {% if post.code_link %}
              <a href= "{{post.code_link}}" target="_blank" style="text-decoration: none; font-size:10pt; margin-bottom:0px; line-height:10px; color: #333;">
                [<span style="color: #52adc8; text-decoration: none;">
                  CODE
                </span>]
                <!-- <img src="http://gaurav1302.github.io/images/code.png" alt="CODE" height="17" width="25">&nbsp;<span>Get&nbsp;CODE</span> -->
              </a>
              <!-- &nbsp; -->
            {% endif %}
            <!-- {% if post.ppt %}
              <a href= "{{post.ppt}}" target="_blank" style="text-decoration: none; font-size:8pt; margin-bottom:0px; line-height:10px; color: #333;">
                [<span style="color: #52adc8; text-decoration: underline;">
                  PPT
                </span>]
              </a>
            {% endif %} -->

            </div>
          </div>
        </li>
          <!-- {{ post.content | markdownify }} -->
          
            
            <!-- <br><br> -->
            <!-- <span class="authors">
                <a href="index.html">Brian A. Smith</a>,&nbsp;&nbsp;
                <a href="http://www.cs.columbia.edu/~nayar/" target="_blank">Shree K. Nayar</a>
            </span>
            <span class="venue">
                <a href="https://chi2018.acm.org/" target="_blank">Proceedings of CHI 2018</a><small>[Acceptance Rate: 25.7%]</small>
            </span>
            <span class="pdf_link">
                <a href="publications/rad.html" target="_blank"><img src="img/icons/pdf.png" alt="PDF"><span>Get&nbsp;PDF</span></a>
            </span>
            <span class="project_link">
            	<a href="projects/rad.html"><img src="img/icons/research_small.png" alt="PDF"><span>Project&nbsp;Page</span></a>
            </span>
            <span class="dl_link">
            	<a href="https://dl.acm.org/citation.cfm?id=3174090" target="_blank"><img src="img/icons/acm.png" alt="ACM Logo"><span>ACM&nbsp;DL&nbsp;Page</span></a>
            </span> -->
        <!-- </li> -->
      </ul>
    </article>
</div>













<!-- <div class="{{ include.type | default: "list" }}__item" >
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <ul style="list-style-type: none;">
        <li style="font-weight: 600; font-size:14pt" value="{{post.index}}" >
          <a class="archive__item-title" itemprop="headline" style="color:black">
              <span style="font-weight: 600; font-size:14pt">
                {{ post.title }}
              </span>
          </a>
        </li>
          <p class="archive__item-excerpt">
            <span style="font-weight: 450; margin-bottom:0; margin-top:0px; font-size:13pt; line-height:30px">
              {{ post.authors }}
            </span>
            <br>
            <span style="color: gray;margin-bottom:-20px; margin-top:10px; font-size:13pt; line-height:30px">
              Published in <i>{{ post.venue }}</i>, {{ post.vol_date }}.
            </span>
          </p>
            {% if post.paper_link %}
              <a href= "{{post.paper_link}}" target="_blank" style="text-decoration: none; font-size:12pt; margin-top: 0; margin-bottom:0px; line-height:10px">
                <img src="http://gaurav1302.github.io/images/pdf.png" alt="PDF" height="25" width="20">&nbsp;<span>Get&nbsp;PDF</span>
              </a>
              &nbsp;
            {% endif %}
            {% if post.doi %}
              <a href= "{{post.doi_link}}" target="_blank" style="text-decoration: none; font-size:12pt; margin-bottom:0px; line-height:10px">
                <img src="http://gaurav1302.github.io/images/doi.png" alt="DOI" height="25" width="25">&nbsp;<span>{{post.doi}}</span>
              </a>
              &nbsp;
            {% endif %}
            {% if post.code_link %}
              <a href= "{{post.code_link}}" target="_blank" style="text-decoration: none; font-size:12pt; margin-bottom:0px; line-height:10px">
                <img src="http://gaurav1302.github.io/images/code.png" alt="CODE" height="17" width="25">&nbsp;<span>Get&nbsp;CODE</span>
              </a>
              &nbsp;
            {% endif %}
            {% if post.ppt %}
              <a href= "{{post.ppt}}" target="_blank" style="text-decoration: none; font-size:12pt; margin-bottom:0px; line-height:10px">
                <img src="http://gaurav1302.github.io/images/ppt.png" alt="PPT" height="35" width="25">&nbsp;<span>View&nbsp;Presentation</span>
              </a>
              &nbsp;
            {% endif %}
            <br><br>
      </ul>
    </article>
</div> -->
