<!-- <a href="{{ site.baseurl }}/">About</a> -->

<script type="text/javascript">
function scrollToPublications() {
	$(document.body).animate({
	    'scrollTop':   $('#research').offset().top
	}, 2000);
}
function scrollToProjects() {
	$(document.body).animate({
	    'scrollTop':   $('#projects').offset().top
	}, 2000);
}
</script>

<a href="https://gaurav1302.github.io/cv/Gaurav_CV_PhD.pdf" style="font-size: 1rem">CV</a>
<a href="#news" style="font-size: 1rem">News</a>
<a href="#research" style="font-size: 1rem; margin-right: 30px">Publications</a>
<!-- <a href="#contact" style="font-size: 1rem; margin-right: 35px">Contact</a> -->
<img src="images/gscholar_icon.png" alt="Google Scholar logo" onclick="window.open('https://scholar.google.com/citations?user=piSn5gQAAAAJ&hl=en');" class="social_icons">
</img> 
<img src="images/github_icon.png" alt="Github logo" onclick="window.open('https://github.com/{{ site.github_username }}');" class="social_icons">
</img> 
<img src="images/linkedin_icon.png" alt="LinkedIn logo" onclick="window.open('https://www.linkedin.com/in/gauravjain13298/');" class="social_icons">
</img> 
<img src="images/twitter_icon.png" alt="Twitter logo" onclick="window.open('https://twitter.com/GauravJain_13');" class="social_icons">
</img> 



