<!-- <a href="{{ site.baseurl }}/">About</a> -->

<script type="text/javascript">
function scrollToPublications() {
	$(document.body).animate({
	    'scrollTop':   $('#research').offset().top
	}, 2000);
}
function scrollToProjects() {
	$(document.body).animate({
	    'scrollTop':   $('#projects').offset().top
	}, 2000);
}
</script>

<a href="https://gaurav1302.github.io/cv/Gaurav_CV_PhD.pdf" style="font-size: 1rem">CV</a>
<a href="#research" style="font-size: 1rem">Publications</a>
<a href="#talks" style="font-size: 1rem">Talks</a>
<a href="https://scholar.google.com/citations?user=piSn5gQAAAAJ&hl=en" style="font-size: 1rem">Scholar</a>
<a href="https://github.com/{{ site.github_username }}" style="font-size: 1rem">GitHub</a>
<!-- <a href="https://twitter.com/{{ site.twitter_username }}" style="font-size: 1rem">Twitter</a> -->
<a href="https://www.linkedin.com/in/gauravjain13298/" style="font-size: 1rem">LinkedIn</a>
